<% if(success.length > 0) {%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= success %>
</div>
<% } %> <% if(error.length > 0) {%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error %>
</div>
<% } %>
